<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FanEase_Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: #F5F5F5;">
    

    <nav class="navbar navbar-expand-lg navbar-light " id="nav">
                <a class="navbar-brand" style="background-color: #56baed;">FanEase</a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#about-us" style="color:white;">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#containercontact" style="color:white;">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color:white;">Privacy</a>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <input type="submit" class="" value="Sign In">
                    </form>
                    <form class="form-inline" action="index">
                        <input type="submit" class="" value="Log In">
                    </form>
                </div>

    </nav>

                <main role="main" class="pb-3">
                    @RenderBody()
                </main>


                <footer class="bg-light text-center text-lg-start">

                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        © 2020 Copyright:
                        <a class="text-dark" href="www.fanease.com">fanease.com</a>
                    </div>

                </footer>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>

            @RenderSection("Scripts", required: false)
</body>
</html>
